@using System.Web.UI.WebControls
@model EmployeeLeaveManagementApp.Models.EmployeeUserType
@{
    ViewBag.Title = "SetUserType";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div id="page-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="fBody">
                    <h3 style="text-align: center">Set Employee User Type</h3>

                    @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "EmployeeEntryValidation", id = "EmployeeEntryValidation" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">

                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="form-group">
                                <div class="col-md-12">
                                    <label id="ShowEmployeeId" class="control-label"></label>
                                    <select name="EmployeeId" id="EmployeeId" class="form-control">
                                        <option value="">--Select Employee Id--</option>
                                        @foreach (var employees in ViewBag.ListOfEmployees)
                                        {
                                            <option value="@employees.Id">@employees.Id</option>
                                        }
                                    </select>
                                    @Html.ValidationMessageFor(model => model.EmployeeId, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12">
                                    <label id="ShowName" class="control-label"></label>
                                    <input type="text" id="EmployeeName" name="EmployeeName" readonly="readonly" placeholder="Name" class="form-control" />
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12">
                                    <label id="ShowEmail" class="control-label"></label>
                                    <input type="text" id="EmployeeEmail" name="EmployeeEmail" readonly="readonly" placeholder="Email" class="form-control" />
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12">
                                    <label id="ShowDesignation" class="control-label"></label>
                                    <input type="text" id="Designation" name="Designation" readonly="readonly" placeholder="Designation" class="form-control" />
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12">
                                    <label id="ShowUserTypeId" class="control-label"></label>
                                    <select name="UserTypeId" id="UserTypeId" class="form-control">
                                        <option value="">--Select User Type--</option>
                                        @foreach (var userType in ViewBag.userType)
                                        {
                                            <option value="@userType.Id">@userType.UserTypeName</option>
                                        }
                                    </select>
                                    @Html.ValidationMessageFor(model => model.UserTypeId, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-4">
                                    <button type="submit" class="btn btn-success btn-block" name="btn">Save</button>
                                </div>
                            </div>
                            <h4 style="text-align: center">@ViewBag.ShowMsg</h4>
                        </div>
                    }

                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>

    $(document).ready(function () {
        $("#EmployeeId").on("change", function () {

            var deptId = $("#EmployeeId").val();
            var json = { departmentId: deptId, };
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetEmployeeById", "Admin")',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(json),
                success: function (data) {
                    $.each(data, function (key, value) {
                        $("#EmployeeName").val(value.EmployeeName);
                        $("#EmployeeEmail").val(value.Email);
                        $("#Designation").val(value.FatherName);
                    });
                }
            });
        });


            $("#EmployeeId").click(function () {
                $("#ShowEmployeeId").text("Employee Id");
            });
            $("#UserTypeId").click(function () {
                $("#ShowUserTypeId").text("User Type");
            });
            $("#Password").click(function () {
                $("#ShowPassword").text("Password");
            });
            $("#ConfirmPassword").click(function () {
                $("#ShowConfirmPassword").text("Confirm Password");
            });
        });

    </script>
}


